@page "/user/account"
@using BlazorBootstrap
@attribute [Authorize]

@if (_currentUserVM == null)
{
	<PageTitle>Account</PageTitle>
}
else
{
	<PageTitle>@_currentUserVM?.Username </PageTitle>
}

<Preload LoadingText="Loading..." />

<div class="container">
	<div class="col-md-8">
		<AuthorizeView>
			<Authorized>
				<Card>
					<CardHeader Class="text-center py-4">
						Account Details
					</CardHeader>
					<CardBody>
						<CardTitle Class="text-center mt-3">
							<h3>Welcome to your account page, @_currentUserVM?.Username</h3>
						</CardTitle>
						<CardText Class="text-center my-3">
							<h5>Here you can manage your account settings and view your activity.</h5>
						</CardText>
					</CardBody>
					<ul class="list-group list-group-flush ms-5">
						<li class="list-group-item"><div class="item-name">Email: </div>@_currentUserVM?.Email</li>
						<li class="list-group-item"><div class="item-name">Username: </div>@_currentUserVM?.Username</li>
						<li class="list-group-item"><div class="item-name">Last login: </div>@_currentUserVM?.LastLoginFormated</li>
						<li class="list-group-item"><div class="item-name">Account created: </div>@_currentUserVM?.CreatedAtFormated</li>
					</ul>
					<CardBody>
						<div class="d-flex flex-column flex-sm-row align-items-center justify-content-around gap-3 gap-md-5">
							<Button To="/user/profile" Class="btn-custom profile" Type="ButtonType.Link">Go to profile</Button>
							<Button To="/change-password" Class="btn-custom main" Type="ButtonType.Link">Change password</Button>
						</div>

					</CardBody>
				</Card>
			</Authorized>
			<NotAuthorized>
				<Alert Color="AlertColor.Warning">
					You are not authorized to view this page. Please log in.
				</Alert>
			</NotAuthorized>
		</AuthorizeView>
	</div>
</div>
