@page "/user/profile"
@using BlazorBootstrap

<div class="container">
	<div class="col-md-8">
		<AuthorizeView>
			<Authorized>
				<Card>
					<CardHeader Class="align-self-center py-4">
						Profile Details
					</CardHeader>
					<CardBody>
						<CardTitle Class="d-flex justify-content-center mt-3">
							<h3>Welcome to your profile page, @_userProfileVM?.FirstName @_userProfileVM?.LastName</h3>
						</CardTitle>
						<CardText Class="d-flex justify-content-center my-3">
							<h5>Here you can see and manage your personal information.</h5>
						</CardText>
					</CardBody>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><div class="item-name">First name: </div>@_userProfileVM?.FirstName</li>
						<li class="list-group-item"><div class="item-name">Last name: </div>@_userProfileVM?.LastName</li>
						<li class="list-group-item"><div class="item-name">Date of birth: </div>@_userProfileVM?.DateOfBirth</li>
						<li class="list-group-item"><div class="item-name">Address: </div>@_userProfileVM?.Address</li>
						<li class="list-group-item"><div class="item-name">City: </div>@_userProfileVM?.City</li>
						<li class="list-group-item"><div class="item-name">Postal code: </div>@_userProfileVM?.PostalCode</li>
						<li class="list-group-item"><div class="item-name">Country: </div>@_userProfileVM?.Country</li>
						<li class="list-group-item"><div class="item-name">Phone number: </div>@_userProfileVM?.PhoneNumber</li>
						<li class="list-group-item"><div class="item-name">Special requests: </div>@_userProfileVM?.SpecialRequests</li>
						<li class="list-group-item"><div class="item-name">Last updated: </div>@_userProfileVM?.LastUpdated</li>
					</ul>
					<CardBody>
						<Button Color="ButtonColor.Light" To="#" Type="ButtonType.Link">Go to main</Button>
						<Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go to bookings</Button>
					</CardBody>
				</Card>
			</Authorized>
		</AuthorizeView>
	</div>
</div>