@page "/user/account"
@using BlazorBootstrap
@attribute [Authorize]

<PageTitle>@_currentUserVM?.Username</PageTitle>

<div class="container">
	<div class="col-md-8">
		<AuthorizeView>
			<Authorized>
				<Card>
					<CardHeader Class="align-self-center py-4">
						Account Details
					</CardHeader>
					<CardBody>
						<CardTitle Class="d-flex justify-content-center mt-3">
							<h3>Welcome to your account page, @_currentUserVM?.Username</h3>
						</CardTitle>
						<CardText Class="d-flex justify-content-center my-3">
							<h5>Here you can manage your account settings and view your activity.</h5>
						</CardText>
					</CardBody>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><div class="item-name">Email: </div>@_currentUserVM?.Email</li>
							<li class="list-group-item"><div class="item-name">Username: </div>@_currentUserVM?.Username</li>
							<li class="list-group-item"><div class="item-name">Last login: </div>@_currentUserVM?.LastLoginFormated</li>
							<li class="list-group-item"><div class="item-name">Account created: </div>@_currentUserVM?.CreatedAtFormated</li>
						</ul>
					<CardBody>
						<Button Color="ButtonColor.Light" To="#" Type="ButtonType.Link">Go to main</Button>
						<Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Link">Go to bookings</Button>
					</CardBody>
				</Card>
			</Authorized>
			<NotAuthorized>
				<Alert Color="AlertColor.Warning">
					You are not authorized to view this page. Please log in.
				</Alert>
			</NotAuthorized>
		</AuthorizeView>
	</div>
</div>
