@page "/about"

<PageTitle>About us</PageTitle>

 <h3>About us</h3>
<div class="container d-flex justify-content-middle>"

    <div class="content">
        <p>Welcome to NOVA Hotels – Your Own Peace of Paradise
            At NOVA Hotels, we believe that every journey deserves a destination that feels like home—only better.
            Our chain of three distinct hotels offers a seamless blend of luxury, tranquility, and personalized
            hospitality,
            each nestled in a setting designed to help you unwind, recharge, and reconnect.
            Whether you're lounging by the pool under swaying palm trees,
            sipping cocktails at sunset, or waking up to the sound of the ocean breeze,
            NOVA Hotels invites you to experience the art of relaxation.
        </p>
    </div>

</div>