@page "/"
@using BlazorBootstrap
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<PageTitle>Home</PageTitle>

<div class="container-fluid">
	<div class="content flex-wrap text-center px-4 py-3 px-md-5">
		<div class="card overflow-hidden custom-card">
			<div class="d-flex flex-column justify-content-center p-3 text-white">
				<div class="card-title fw-bold mt-5">Welcome to NOVA hotels</div>
				<div class="container d-flex justify-content-around">
					<div class="custom-line"></div>
					<div class="card-text mb-5">your own peace of paradise</div>
					<div class="custom-line"></div>
				</div>
			</div>
		</div>
	</div>


	<div class="wrapper w-100 d-flex justify-content-between flex-wrap gap-2">
		<div class="box-container bg-white text-center p-3">
			<div class="mb-md-3 border-bottom">Start Date <span class="text-danger">*</span></div>
			<DateInput TValue="DateOnly?"
					   Value="_startDate"
					   ValueExpression="() => _startDate"
					   ValueChanged="StartDateChanged" />
		</div>

		<div class="box-container bg-white text-center p-3">
			<div class="mb-md-3 border-bottom">End Date <span class="text-danger">*</span></div>
			<DateInput TValue="DateOnly?"
					   Value="_endDate"
					   ValueChanged="(value) => _endDate = value"
					   ValueExpression="() => _endDate"
					   Disabled="@_disableEndDate"
					   EnableMinMax="true"
					   Min="@GetMinEndDate()" />
		</div>

		<div class="box-container bg-white text-center p-3">
			<div class="mb-md-3 border-bottom">Choose hotel</div>
			<InputSelect class="form-select" @bind-Value="_selectedHotel">
				<option value=""> Select hotel </option>
				@foreach (var h in Hotels)
				{
					<option value="@h">@h</option>
				}
			</InputSelect>
			
		</div> 


		<div class="box-container bg-white text-center justify-content-center p-3">
			<div class="mb-md-3 border-bottom">Guests<span class="text-danger">*</span></div>
			<InputNumber TValue="int" @bind-Value="_amountGuests" Min="1" Max="6" />
		</div>

		<div class="py-4">
			<Button Type="ButtonType.Button" Class="btn btn-custom" @onclick="NavigateToBooking">
				<span class="fw-bolder fs-3 ">See options</span>
			</Button>
		</div>

	</div>
</div>