@page "/change-password"
@using BlazorBootstrap


<PageTitle>Change Password</PageTitle>
<Preload LoadingText="Saving changes..." />

<div class="container">
	<div class="col-md-5">
		<Card>
			<CardHeader Class="py-3 text-center">Change Password</CardHeader>
			<CardBody>
				<CardTitle Class="text-center mt-3">
					Enter and confirm your new password.
				</CardTitle>

				<EditForm Model="_changePasswordVM" OnValidSubmit="HandleChangedPassword">

					<DataAnnotationsValidator />

					<div class="floating-label-group mb-1 my-md-4">
						<InputText id="input-field-new-password"
								   @bind-Value="_changePasswordVM.NewPassword"
								   class="form-control"
								   placeholder=" " 
								   Type="password" />
						<label class="floating-label" for="input-field-new-password">New Password</label>
						<ValidationMessage For="@(() => _changePasswordVM.NewPassword)" />
					</div>

					<div class="floating-label-group mb-1 my-md-4">
						<InputText id="input-field-confirm-new-password"
								   @bind-Value="_changePasswordVM.ConfirmNewPassword"
								   class="form-control"
								   placeholder=" "
								   Type="password" />
						<label class="floating-label" for="input-field-confirm-new-password">Confirm New Password</label>
						<ValidationMessage For="@(() => _changePasswordVM.ConfirmNewPassword)" />
					</div>

					<div class="d-flex flex-column flex-sm-row align-items-center justify-content-around gap-2 gap-md-5">
						<Button class="btn btn-custom text-white "
								Type="ButtonType.Submit">
							Save Changes
						</Button>
						<Button class="btn btn-outline"
								Type="ButtonType.Button"
								@onclick="CancelChangePassword">
							Cancel
						</Button>
					</div>
				</EditForm>
				@if (!string.IsNullOrEmpty(_errorMessage))
				{
					<div class="alert alert-danger">@_errorMessage</div>
				}
			</CardBody>
		</Card>
	</div>
</div>