.container {
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.form {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 30px;
}

.check-text {
    color: #0f6769;
}

    .check-text:hover {
        cursor: default;
    }

.btn-link {
    transition: transform 0.3s ease;
}

    .btn-link:hover {
        transform: scale(1.2);
        background-color: rgba(255,255,255,0.1);
        color: #3a9698;
        margin-left: 1em;
    }

.custom-header {
    font-size: 4em;
    font-weight: 600;
    align-self: center;
    color: rgb(57 166 168);
    text-shadow: 2px 1px 3px #ffff;
}

    .custom-header:hover {
        cursor: default;
    }

::deep #input-field-email {
    background-color: rgba(255, 255, 255, .8);
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: .8em;
    width: 100%;
    transition: background .8s ease-out;
}

    ::deep #input-field-email:hover {
        background-color: rgba(255, 255, 255, 1);
    }

    ::deep #input-field-email:active, ::deep #input-field-email:focus-within {
        outline: 2px solid #00c4c8;
        background-color: rgba(255, 255, 255, 1);
    }

::deep #input-field-password {
    background-color: rgba(255, 255, 255, .8);
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: .8em;
    width: 100%;
    transition: background .8s ease-out;
}

    ::deep #input-field-password:hover {
        background-color: rgba(255, 255, 255, 1);
    }

    ::deep #input-field-password:active, ::deep #input-field-password:focus-within {
        outline: 2px solid #00c4c8;
        background-color: rgba(255, 255, 255, 1);
    }

::deep .btn.btn-custom {
    align-self: center;
    background-image: linear-gradient(to bottom right, #00c4c8, #e5e0ad);
    background-color: #00c4c8;
    border-radius: 35px;
    border: 2px solid #ffff;
    width: 90%;
    transition: background-image 2s ease-in-out;
}

    ::deep .btn.btn-custom:hover {
        background-image: linear-gradient(to top left, #00c4c8, #e5e0ad);
        border: 2px solid rgba(255, 255, 255, .5);
    }

    ::deep .btn.btn-custom:active, ::deep .btn.btn-custom:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #00c4c88c;
    }

.floating-label-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.floating-label {
    position: absolute;
    left: 12px;
    top: 16px;
    color: #aaa;
    pointer-events: none;
    transition: 0.2s ease all;
    padding: 0 4px;
}

.floating-label-group input:focus + .floating-label,
.floating-label-group input:not(:placeholder-shown) + .floating-label {
    top: -22px;
    left: 8px;
    font-size: 0.85em;
    color: #495057;
}
