@page "/login"
@using BlazorBootstrap
@inherits LayoutComponentBase

<div class="container">
	<div class="col-md-5">
		<div class="form d-flex flex-column flex-wrap p-3 p-md-5">

			<div class="custom-header mt-3">Welcome!</div>
			<div class="custom-header fs-3 mb-3">Log in your account</div>

			<EditForm Model="_loginModel" OnValidSubmit="HandleLogin">
				<DataAnnotationsValidator />

				<div class="floating-label-group m-3 my-md-4">
					<InputText id="input-field-email"
							   @bind-Value="_loginModel.Email"
							   class="form-control"
							   placeholder=" " />
					<label class="floating-label" for="input-field-email">Email</label>
					<ValidationMessage For="@(() => _loginModel.Email)" />
				</div>

				<div class="floating-label-group m-3 my-md-4">
					<InputText id="input-field-password"
							   @bind-Value="_loginModel.Password"
							   class="form-control"
							   placeholder=" "
							   Type="password" />
					<label class="floating-label" for="input-field-password">Password</label>
					<ValidationMessage For="@(() => _loginModel.Password)" />
				</div>

				<div class="d-flex mt-3 ms-4 form-check">
					<div>
					<input type="checkbox" class="form-check-input" id="loginInputRemember">
					<label class="form-check-label check-text" for="loginInputRemember">Remember me</label>
					</div>
				</div>
				<Button class="btn btn-custom text-white px-3 px-md-5 py-2 mt-2 mt-md-5 mx-3 fw-bolder fs-4" Type="ButtonType.Submit">Login</Button>

				<div class="d-flex mt-5 mb-0 justify-content-center ">
					<p class="check-text mt-2">Don't have an account yet?</p>
					<a class="btn btn-link" href="/register">Register</a>
				</div>
			</EditForm>
			@if (!string.IsNullOrEmpty(_errorMessage))
			{
				<div class="alert alert-danger">@_errorMessage</div>
			}
		</div>
	</div>
</div>