<nav class="navbar fixed-top navbar-expand-sm  shadow">
	<div class="container-fluid">
		<div class=" p-0 mt-2">
			<a class="navbar-brand" href="#">
				<img src="/images/logo.png" alt="nova-hotels-logo" height="60">
			</a>
		</div>
		<div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto gap-2 mb-2 mb-lg-0">
					<li class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
						<a class="nav-link home" aria-current="page" href="#">Home</a>
					</li>
					<NavSeparatorComponent />
					<li class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
						<a class="nav-link text-white" href="#">Rooms</a>
					</li>
					<NavSeparatorComponent />
					<li class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
						<a class="nav-link text-white" href="#">About us</a>
					</li>
					<NavSeparatorComponent />
					<li class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
						<a class="nav-link text-white" href="contact">Contact us</a>
					</li>
					<NavSeparatorComponent />
					<li class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
						<a class="nav-link text-white" href="/login">Log in</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<style>
	.nav-link {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: large;
	}
</style>