<div class="nav-item py-2 py-sm-1 col-12 col-sm-auto">
    <div class="vr d-none d-sm-flex h-75 mt-2 mx-sm-2"></div>
</div>

<style>
    .vr {
        border-left: 2px solid #ffffff; 
        opacity: 80%;
        vertical-align: middle;
    }
</style>